* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
    color: white;
}

/* NAV */
.navbar {
    width: 100%;
    position: fixed;
    z-index: 2;
}

.navbar {
    text-shadow: -1px 1px 2px black !important;
}

.nav-link {
    opacity: 0.8;
}

.nav-link:hover {
    opacity: 1;
}

.navbar.scrolled {
    background-color: black !important;
    transition: background-color 200ms linear;
  }

/* QUIENES SOMOS */
#quienesSomos,
#destacados {
    background-color: black;
}

.card-img-top {
    height: 12rem;
    width: 100%;
    object-fit: cover;
    -webkit-mask-size: cover;
    mask-size: cover;
    cursor: pointer;
}

.card-img-top:hover {
    opacity: 0.9;
}

.icono {
    cursor: pointer;
    background-color: rgb(13,202,240);
}

/* TOOLTIP */
.tooltip-inner {
    max-width: none;
}

.custom-tooltip {
    --bs-tooltip-bg: #4d5255;
}

/* CONTACTO */
#contacto {
    background-color: black;
}

/* FOOTER */
footer .container {
    width: 60vw !important;
}

footer ul {
    float: right;
}

footer ul li {
    list-style: none;
}

@media (max-width: 768px) {
    .nav-link {
        opacity: 1;
    }

    footer ul {
        float: none;
        font-size: 3rem;
        padding: 0;
        justify-content: center;
    }

    footer .container .row .col {
        padding: 0;
        margin: 0;
    }

    footer ul li {
        display: flex;
        flex-direction: row;
        width: fit-content !important;
    }

    #footer1 {
        text-align: center !important;
    }
}